<nav class="navbar fixed-top navbar-inverse navbar-toggleable-sm">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav" href="#">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle animated fadeInDown" id="navbarDropdownShop"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ショップ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownShop">
            <a class="dropdown-item">ビジュアルノベル</a>
            <a class="dropdown-item" href="#">アルバム</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle animated fadeInDown" id="navbarDropdownDatabase"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            データベース
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownDatabase">
            <a class="dropdown-item" ui-sref="novel.list">ビジュアルノベル</a>
            <a class="dropdown-item" href="#">アルバム</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link animated fadeInDown">
            最近の活動
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animated fadeInDown">
            企業情報
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animated fadeInDown">
            接触
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
