<div class="page-utility-group">
  <div class="page-utility dropdown">
    <span class="utility-label" id="hideNsfw"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    >
      nsfw
      <span>&#9660;</span>
    </span>
    
    <div class="dropdown-menu" aria-labelledby="hideNsfw" 
      ng-click="vm.fixDropdown($event)"
    >
      <div class="dropdown-item">
        <label class="switch-button">
          <input type="checkbox" ng-model="vm.hideNsfw">
          <div class="slider"></div>
        </label>
        <span class="">
          18+コンテンツ {{ vm.hideNsfw ? 'OFF' : 'ON'}}。
        </span>
      </div>
    </div>
  </div>
</div>

<div class="page-utility-group">
  <div class="page-utility dropdown crud">
    <span class="utility-label" id="crud"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    >
      <div class="b-flex-middle h-100">
        <i class="fa fa-fw fa-ellipsis-v"></i>
      </div>
    </span>
    
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="crud">
      <a ui-sref="novel.new">
        <div class="dropdown-item">
          <i class="fa fa-fw fa-plus"></i>
          <span>New article</span>
        </div>
      </a>
      
      <a ui-sref="novel.detail.edit" ui-sref-opts="{ reload: true }">
        <div class="dropdown-item">
          <i class="fa fa-fw fa-pencil"></i>
          <span>Edit article</span>
        </div>
      </a>  
      
      <a href="javascript:void(0)" ng-click="vm.destroy()">
        <div class="dropdown-item">
          <i class="fa fa-fw fa-times"></i>
          <span>Delete article</span>
        </div>
      </a>
    </div>
  </div>
</div>
