<div class="no-banner page-wrap animated fadeIn">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a ui-sref="home">メインページ</a>
      </li>
      <li class="breadcrumb-item">
        <a>データベース</a>
      </li>
      <li class="breadcrumb-item">
        <a ui-sref="character.list({ page: 1, length: null })">キャラクター</a>
      </li>
      <li class="breadcrumb-item active">
        {{ vm.character.name }}
      </li>
    </ol>
  </div>

  <div class="page-head bb">
    <div class="container">
      <h3>{{ vm.character.name }}</h3>
      <h6>{{ vm.character.nameEn }}</h6>
    </div>
  </div>

  <div class="container page-body page-detail test-container item-container">
    <div class="row">
      <div class="col-lg-9 body">
        <div character-detail-utility 
          class="page-utility-container"
          character="vm.character"
        >  
        </div>
        
        <div class="main-content-wrap item-box item">
          <div class="row">
            <div class="image-wrap col-lg-4 col-md-4 col-sm-4 pr-2">
              <div class="image-placeholder ratio-3_4">
                <div image-thumb class="image-thumb"
                  condition="false"
                  nsfw="/assets/img/image-nsfw.jpg" image="{{ vm.character.image }}">
                </div>
              </div>
            </div>

            <div class="info-wrap col-lg-8 col-md-8 col-sm-8 pl-2">
              <table class="main-info-table">
                <tr>
                  <th class="hidden-sm-down">名前</th>
                  <td>
                    <span>{{ vm.character.name }}</span>
                    <span ng-switch="vm.character.gender">
                      <i ng-switch-when="male" class="fa fa-mars"></i>
                      <i ng-switch-when="female" class="fa fa-venus"></i>
                    </span>
                    <span>
                      {{ vm.character.bloodType }}
                    </span>
                  </td>
                </tr>
                <tr>
                  <th class="hidden-sm-down">誕生日</th>
                  <td>{{ vm.birthday() }}</td>
                </tr>
                <tr>
                  <th class="hidden-sm-down">B/W/H</th>
                  <td>{{ vm.threeSizes() }}cm</td>
                </tr>
                <tr>
                  <th class="hidden-sm-down">身長/重量</th>
                  <td>
                    {{ vm.character.height || '?' }}cm, 
                    {{ vm.character.weight || '?' }}kg
                  </td>
                </tr>
                <tr class="description">
                  <th colspan="2">デスクリプション</th>
                </tr>
                <tr class="description">
                  <td colspan="2">
                    <div class="description-wrap">
                      <p> </p>
                      <p id="characterDescr" ng-if="!vm.character.description"
                        class="overflow-toggleable description-text">ディスクリプションがありません。</p>
                      <p id="characterDescr" ng-if="vm.character.description"
                        class="overflow-toggleable description-text">{{ vm.character.description }}</p>
                    </div>
                    <span class="see-more" toggle-overflow target="#characterDescr"
                      lines="6" font-size="1" role="button">
                      ▼もっと見る
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <!-- <div class="col-12">
            <div class="line-shadow full-width bottom"></div>
          </div> -->
        </div>

        <character-novel-va class="item-group character-novel-relate" novels="vm.character.novels">
        </character-novel-va>
        
        <div class="item-group">
          <h6>コメントを書く</h6>
          <div class="item item-box has-loading">
            <div class="item" ng-if="!vm.isAuthenticated">
              ログインのが必要です。
            </div>
            
            <div class="item" ng-if="vm.isAuthenticated">
              <div write-comment
                type="character"
                data-id="vm.character.id"
                loading="vm.loading"
              >
              </div>
            </div>
          </div>
        </div>
      </div>

      <aside class="col-lg-3 item-container">
        <div class="item-group comment-container">
          <h6>コメント</h6>
          
          <div class="item item-box has-loading">
            <div comment-container 
              data-id="vm.character.id"
              data-type="character"
            >
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

