<div class="modal-header">
  <h5 class="modal-title">確認が必要です。</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
    ng-click="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body crud-modal">
  <div class="alert alert-danger" role="alert" ng-if="error">
    <strong>Error!</strong><br>
    <h6 ng-repeat="(key, value) in error">{{ value }}</h6>
  </div>
  <h6>{{ title }}が消されるのいいですか？</h6>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="submitDelete()">消す</button>
  <button type="button" class="btn btn-secondary" ng-click="closeModal()">キャンセル</button>
</div>

