<h1>Character</h1>

<form id="characterForm" ng-submit="vm.submit()">
  <select ng-model="vm.req.character.role" name="role">
    <option value="">Role</option>
    <option value="protagonist">Protagonist</option>
    <option value="main">Main Character</option>
    <option value="side">Side Character</option>
  </select>
  <label>Name<input type="text" name="name" ng-model="vm.req.character.name"></label>
  <label>Name English<input type="text" name="name" ng-model="vm.req.character.nameEn"></label>
  <select ng-model="vm.req.character.gender" name="gender">
    <option value="">Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <!-- <label>Birthday<input type="date" name="bday" ng-model="vm.req.character.birthday"></label> -->
  <label>Height<input type="number" name="height" ng-model="vm.req.character.height"></label>
  <label>Weight<input type="number" name="weight" ng-model="vm.req.character.weight"></label>
  <label>Bust<input type="number" name="bust" ng-model="vm.req.character.bust"></label>
  <label>Hip<input type="number" name="hips" ng-model="vm.req.character.hips"></label>
  <label>Waist<input type="number" name="waist" ng-model="vm.req.character.waist"></label>
  <select ng-model="vm.req.character.bloodType" name="bloodType">
    <option value="">Blood Type</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="AB">AB</option>
    <option value="O">O</option>
  </select>
  <label>Image<input type="text" name="image" ng-model="vm.req.character.image"></label>
  <img ng-src="{{ vm.req.character.image }}">
  <button>Submit</button>
</form>

<div ng-repeat="(novel_i, novel) in vm.character.novels">
  <span>{{ novel.title }}</span><br>
  <span>{{ novel.titleEn }}</span><br>
  <form ng-submit="vm.submitVA(vm.req.va[novel_i])">
    <label>id<input type="number" ng-model="vm.req.va[novel_i].id"></label>
    <label>alias<input type="text" ng-model="vm.req.va[novel_i].alias"></label><br>
    <label>alias_en<input type="text" ng-model="vm.req.va[novel_i].aliasEn"></label><br>
    <button>Submit</button>
  </form>
  <div ng-repeat="(va_i, va) in novel.voiceActresses">
    <span>{{ va.name }}</span><br>
    <span>{{ va.nameEn }}</span>
    <form ng-submit="vm.updateVA(novel.id, vm.character.id, va.id, vm.va[novel_i][va_i])">
      <label>alias<input type="text" ng-model="vm.va[novel_i][va_i].alias" placeholder="{{ va.name }}" ng-disabled="vm.va[novel_i][va_i].no_alias"></label><br>
      <label>alias_en<input type="text" ng-model="vm.va[novel_i][va_i].aliasEn" placeholder="{{ va.nameEn }}" ng-disabled="vm.va[novel_i][va_i].no_alias"></label><br>
      <label>No alias<input type="checkbox" ng-model="vm.va[novel_i][va_i].no_alias"></label>
      <button>Submit</button>
    </form>
  </div>
</div>
<!-- <form ng-submit="vm.submitVA(vm.req.va)" ng-if="!vm.character.novels">
  <input type="text" ng-model="vm.req.va[novel_i][va_i].name"><br>
  <input type="text" ng-model="vm.req.va[novel_i][va_i].nameEn">
</form> -->
<!-- <div ng-repeat><label><input type="text"></label></div> -->
