<h1>Tag</h1>

<div class="jumbotron">
  <span>{{ vm.novel.title }}</span><br>
  <span>{{ vm.novel.titleEn }}</span><br>
</div>

<form class="jumbotron" ng-submit="vm.submit(vm.req.tag)">
  <label>
    tag:
    <input type="text" name="tag" ng-model="vm.req.tag.tag">
  </label><br>
  <label>
    tagEn:
    <input type="text" name="tagEn" ng-model="vm.req.tag.tagEn">
  </label><br>
  <label>
    description:
    <input type="text" name="description" ng-model="vm.req.tag.description">
  </label><br>
  <label>
    descriptionEn:
    <input type="text" name="descriptionEn" ng-model="vm.req.tag.descriptionEn">
  </label><br>
  <button>Submit</button>
</form>

<div class="jumbotron" ng-repeat="tag in vm.tags">
  <span>{{ tag.tag }}</span><br>
  <button ng-click="vm.del(tag.id)" type="button">Destroy</button>
</div>

<form class="jumbotron" ng-submit="vm.submitT(vm.req.tagId)">
  <label>
    tag:
    <input type="number" name="tag" ng-model="vm.req.tagId">
  </label><br>
  <button>Submit</button>
</form>

<div class="jumbotron">
  <div ng-repeat="tag in vm.novel.tags">
    <span>{{ tag.tag }}</span><br>
    <button type="button" ng-click="vm.delT(tag.id)">Destroy</button>
  </div>
</div>
