<h1>Screenshot</h1>

<div class="jumbotron">
  <span>{{ vm.novel.title }}</span><br>
  <span>{{ vm.novel.titleEn }}</span><br>
</div>

<form class="jumbotron" ng-submit="vm.submit(vm.novel.id, vm.req.screenshot)">
  <label>
    image:
    <input type="text" name="image" ng-model="vm.req.screenshot.image">
  </label><br>
  <label>
    imageNsfw:
    <input type="checkbox" name="imageNsfw" ng-model="vm.req.screenshot.imageNsfw">
  </label><br>
  <button>Submit</button>
</form>

<div class="jumbotron" ng-repeat="(ssId, ss) in vm.novel.screenshots">
  <span>{{ ss.image }}</span><br>
  <span>{{ ss.imageNsfw }}</span><br>
  <img ng-src="{{ ss.image }}" style="height: 50px;"><br>
  <form ng-submit="vm.update(ss.id, vm.req.screenshots[ssId])">
    <label>
      image:
      <input type="text" name="image" ng-model="vm.req.screenshots[ssId].image">
    </label><br>
    <label>
      imageNsfw:
      <input type="checkbox" name="imageNsfw" ng-model="vm.req.screenshots[ssId].imageNsfw">
    </label><br>
    <button>Submit</button>
    <button type="button" ng-click="vm.del(ss.id)">Destroy</button>
  </form>
</div>
