<h1>Staff</h1>

<div class="jumbotron">
  <span>{{ vm.novel.title }}</span><br>
  <span>{{ vm.novel.titleEn }}</span><br>
</div>

<form class="jumbotron" ng-submit="vm.submit(vm.req.staff)">
  <div>
    personId:
    <input type="number" name="personId" ng-model="vm.req.staff.personId">
  </div>
  <div>
    alias:
    <input type="text" name="alias" ng-model="vm.req.staff.alias"
      ng-disable="vm.req.staff.noAlias">
  </div>
  <div>
    aliasEn:
    <input type="text" name="aliasEn" ng-model="vm.req.staff.aliasEn"
      ng-disable="vm.req.staff.noAlias">
  </div>
  <div>
    noAlias
    <input type="checkbox" name="noAlias" ng-model="vm.req.staff.noAlias">
  </div>
  <div>
    position:
    <select ng-model="vm.req.staff.position" name="position"
      ng-options="p.position as p.label for p in vm.positions"></select>
  </div>
  <button>Submit</button>
</form>

<div class="jumbotron" ng-repeat="(staffId, staff) in vm.novel.staffs.artist">
  <form ng-submit="vm.update(staff.id, vm.req.staffs[0][staffId])">
    <div>id: {{ staff.id }}</div>
    <div>personId: {{ staff.personId }}</div>
    <div>
      position: {{ staff.position }}
      <select ng-model="vm.req.staffs[0][staffId].position" name="position"
        ng-options="p.position as p.label for p in vm.positions"></select>
    </div>
    <div>
      name: {{ staff.name }}
    </div>
    <div>
      alias: {{ staff.alias }}
      <input type="text" name="alias" ng-model="vm.req.staffs[0][staffId].alias"
        ng-disable="vm.req.staffs[0][staffId].noAlias">
    </div>
    <div>
      aliasEn: {{ staff.aliasEn }}
      <input type="text" name="aliasEn" ng-model="vm.req.staffs[0][staffId].aliasEn"
        ng-disable="vm.req.staffs[0][staffId].noAlias">
    </div>
    <div>
      noAlias:
      <input type="checkbox" name="noAlias" ng-model="vm.req.staffs[0][staffId].noAlias">
    </div>

    <button>Submit</button><br>
    <button type="button" ng-click="vm.del(staff.id)">Destroy</button>
  </form>
</div>
