<h1>Release</h1>

<div>
  <span>{{ vm.novel.name }}</span><br>
  <span>{{ vm.novel.nameEn }}</span><br>
</div>

<form id="characterForm" ng-submit="vm.submit(vm.req.release)" class="jumbotron">
  <label>title: <input type="text" name="title"
    ng-model="vm.req.release.title"></label><br>
  <label>titleEn: <input type="text" name="titleEn"
    ng-model="vm.req.release.titleEn"></label><br>
  <label>released: <input type="date" name="released_unfix"
    ng-model="vm.req.release.released_unfix" ng-init="vm.req.release.released_unfix = vm.today"></label><br>
  <label>
    status:<br>
    <input type="radio" name="status" value="trial" ng-model="vm.req.release.status">Trial<br>
    <input type="radio" name="status" value="complete" ng-model="vm.req.release.status">Complete
  </label><br>
  <label>
    animationEro:<br>
    <input type="radio" name="animationEro" value="no"
      ng-model="vm.req.release.animationEro">
    No<br>
    <input type="radio" name="animationEro" value="simple"
      ng-model="vm.req.release.animationEro">
    Simple
  </label><br>
  <label>
    animationStory:<br>
    <input type="radio" name="animationStory" value="no"
      ng-model="vm.req.release.animationStory">
    No<br>
    <input type="radio" name="animationStory" value="simple"
      ng-model="vm.req.release.animationStory">
    Simple
  </label><br>
  <label>
    voiced:<br>
    <input type="radio" name="voiced" value="no"
      ng-model="vm.req.release.voiced">
    No<br>
    <input type="radio" name="voiced" value="partial"
      ng-model="vm.req.release.voiced">
    Partial Voiced<br>
    <input type="radio" name="voiced" value="fully"
      ng-model="vm.req.release.voiced">
    Fully voiced
  </label><br>
  <label>
    ageRating:<br>
    <input type="radio" name="ageRating" value="0"
      ng-model="vm.req.release.ageRating">
    All ages<br>
    <input type="radio" name="ageRating" value="12"
      ng-model="vm.req.release.ageRating">
    12+<br>
    <input type="radio" name="ageRating" value="13"
      ng-model="vm.req.release.ageRating">
    13+<br>
    <input type="radio" name="ageRating" value="15"
      ng-model="vm.req.release.ageRating">
    15+<br>
    <input type="radio" name="ageRating" value="16"
        ng-model="vm.req.release.ageRating">
      16+<br>
    <input type="radio" name="ageRating" value="17"
        ng-model="vm.req.release.ageRating">
      17+<br>
    <input type="radio" name="ageRating" value="18"
        ng-model="vm.req.release.ageRating">
      18+
    </label><br>
    <select name="platform" ng-model="vm.req.release.platformId"
      ng-options="p.id as p.platform for p in vm.platforms track by p.id">
    </select>
    <button>Submit</button>
</form>

<form class="jumbotron" ng-submit="vm.addR2N(vm.release_id)">
  <label>
    release_id:
    <input type="number" name="release_id" ng-model="vm.release_id">
  </label>
  <button>Submit</button>
</form>

<div class="jumbotron" ng-repeat="(r_id, release) in vm.novel.releases">
  <span>id: {{ release.id }}</span><br>
  <span>released: {{ release.released }}</span><br>
  <span>title: {{ release.title }}</span><br>
  <span>titleEn: {{ release.titleEn }}</span><br>
  <span>status: {{ release.status }}</span><br>
  <span>animationEro: {{ release.animationEro }}</span><br>
  <span>animationStory: {{ release.animationStory }}</span><br>
  <span>voiced: {{ release.voiced }}</span><br>
  <span>ageRating: {{ release.ageRating }}</span><br>

  <button type="button" ng-click="vm.deleteR(vm.novel.id, release.id)">
    Delete
  </button><br>

  <form id="form_{{r_id}}" ng-submit="vm.updateR(release.id, vm.req.releases[r_id])">
    <label>
      title:
      <input type="text" name="title" ng-model="vm.req.releases[r_id].title"
        placeholder="{{ release.title }}">
    </label><br>
    <label>
      titleEn:
      <input type="text" name="titleEn" ng-model="vm.req.releases[r_id].titleEn"
        placeholder="{{ release.titleEn }}">
    </label><br>
    <label>
      released:
      <input type="date" name="released" ng-model="vm.req.releases[r_id].released_unfix"
        value="{{ release.released }}">
    </label><br>
    <button>Submit</button>
  </form>
</div>
