<table ng-if="vm.staffs" class="table">
  <tr ng-repeat="(staffId, staff) in vm.staffs">
    <td>
      <div>
        <div class="expand-toggler" ng-if="staff.note" role="button" aria-expanded="false"
          data-target="#{{vm.type}}Note{{staffId}}" data-toggle="collapse">
        </div>
        <a ui-sref="index">{{ staff.alias || staff.name }}</a>
      </div>
      <div ng-if="staff.note" class="collapse" id="{{vm.type}}Note{{staffId}}">
        <span>{{ staff.note }}</span>
      </div>
      <div class="crud-btn-group big">
        <button class="crud-btn btn-edit">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="crud-btn btn-delete">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </td>
   </div>
  </tr>
</table>
