<form id="eroge" ng-submit="vm.submit()">
  <label for="title">Title</label>
  <input type="text" name="title" ng-model="vm.product.title">
  <br>
  <label for="original_title">Original Title</label>
  <input type="text" name="original" ng-model="vm.product.original">
  <label for="original_title">Type</label>
  <input type="text" name="type" ng-model="vm.product.product_type">
  <label for="original_title">Price</label>
  <input type="text" name="price" ng-model="vm.product.price">
  <button type="submit" name="button">Save</button>
</form>

<div>Eroge is going to create:</div>
<div> {{ vm.product.title }} </div>
<div> {{ vm.product.original }} </div>
<div> {{ vm.product.product_type }} </div>
<div> {{ vm.product.price }} </div>