<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4>
          にょろにょろショップ
        </h4>　
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
        </p>
        <p>
          &#169; 2017 にょろにょろショップ Ltd.
        </p>
      </div>
      <div class="col-lg-3">
        <h6>
          MEET にょろにょろ
        </h6>
        <ul>
          <li>
            にょろにょろについて
          </li>
          <li>
            連絡
          </li>
          <li>
            ヘルプ
          </li>
          <li>
            仕事
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h6>
          MEET にょろにょろ
        </h6>
        <div>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-google-plus"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
