<h1>皆さん、ようこそ僕のブログへ</h1>
<%= link_to :'ブログ', controller: :articles %><br>
<%= link_to :'新しいポストを作りたい？', new_article_path %>
<%= link_to :'新しいポストを作りたい？', new_article_path %>
<div class="row bg-orange">
	<div class="col-sm-3 has-tooltip" 
    data-toggle="tooltip" data-placement="top" title="Tooltip on top">
    Trang chu
  </div>
	<div class="col-sm-3">Trang chu</div>
	<div class="col-sm-3">Trang chu</div>
	<div class="col-sm-3">Trang chu</div>
</div>