<div class="no-banner">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a ui-sref="home">メインページ</a>
      </li>
      <li class="breadcrumb-item">
        <a>データベース</a>
      </li>
      <li class="breadcrumb-item">
        <a ui-sref="novel.list({ page: 1, length: null })">全てのノベル</a>
      </li>
      <li class="breadcrumb-item active">
        {{ vm.novel.title }}
      </li>
    </ol>
  </div>

  <div class="page-head">
    <div class="container">
      <h3>{{ vm.novel.title }}</h3>
      <h6>{{ vm.novel.titleEn }}</h6>
    </div>
  </div>

  <div class="container db-novel-detail">
    <div class="body row">
      <div class="content col-lg-9">
        <div class="row image-and-info-wrap">
          <div class="image col-lg-4 col-md-4 col-sm-4">
            <div class="image-wrap">
              <div class="image-placeholder ratio-3_4">
                <div image-thumb class="image-thumb"
                  condition="vm.hideNsfw && vm.novel.imageNsfw"
                  nsfw="/assets/img/image-nsfw.jpg" image="{{ vm.novel.image }}">
                </div>
              </div>
            </div>
          </div>

          <div class="info col-lg-8 col-md-8 col-sm-8">
            <table>
              <tr class="info-entry">
                <th class="hidden-sm-down">タイトル</th>
                <td>{{ vm.novel.title }}</td>
              </tr>
              <tr class="info-entry" ng-if="vm.novel.alias">
                <th class="hidden-sm-down">アリアス</th>
                <td>{{ vm.novel.alias }}</td>
              </tr>
              <tr class="info-entry" ng-if="vm.novel.length">
                <th class="hidden-sm-down">長さ</th>
                <td>{{ vm.length[vm.novel.length] }}</td>
              </tr>
              <tr class="info-entry" ng-if="vm.novel.producers">
                <th class="hidden-sm-down">プロヂューサー</th>
                <td>
                  <div ng-repeat="producer in vm.novel.producers">
                    {{ producer.name }}
                  </div>
                </td>
              </tr>
              <tr>
                <th colspan="2">デスクリプション</th>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="description-wrap">
                    <p> </p>
                    <p id="novelDescription" ng-if="!vm.novel.description"
                      class="overflow-toggleable novel-descr">ディスクリプションがありません。</p>
                    <p id="novelDescription" ng-if="vm.novel.description"
                      class="overflow-toggleable novel-descr">{{ vm.novel.description }}</p>
                  </div>
                  <span class="see-more" toggle-overflow target="#novelDescription"
                    lines="6" font-size="1">
                    ▼もっと見る
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="more-info-tabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" data-target="#character" role="tab">
                キャラクター
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" data-target="#staff" role="tab">
                スタフ
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" data-target="#release" role="tab">
                発売
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade show active" id="character" role="tabpanel"
              ng-if="vm.novel.characters">
              <div class="character-list row">
                <character-in-novel characters="vm.novel.characters.protagonist" type="'protagonist'"
                  class="col-12"></character-in-novel>
                <character-in-novel characters="vm.novel.characters.main" type="'main'"
                  class="col-12"></character-in-novel>
                <character-in-novel characters="vm.novel.characters.side" type="'side'"
                  class="col-12"></character-in-novel>
              </div>
            </div>

            <div class="tab-pane fade" id="staff" role="tabpanel"
              ng-if="vm.novel.staffs">
              <table>
                <tr>
                  <td>Artist</td>
                  <td>
                    <staff-in-novel staffs="vm.novel.staffs.artist" type="artist"></staff-in-novel>
                  </td>
                </tr>
                <tr>
                  <td>Scenario</td>
                  <td>
                    <staff-in-novel staffs="vm.novel.staffs.scenario" type="scenario"></staff-in-novel>
                  </td>
                </tr>
                <tr>
                  <td>Composer</td>
                  <td>
                    <staff-in-novel staffs="vm.novel.staffs.composer" type="composer"></staff-in-novel>
                  </td>
                </tr>
                <tr>
                  <td>Vocals</td>
                  <td>
                    <staff-in-novel staffs="vm.novel.staffs.vocals" type="vocals"></staff-in-novel>
                  </td>
                </tr>
                <tr>
                  <td>Staffs</td>
                  <td>
                    <staff-in-novel staffs="vm.novel.staffs.staff" type="staff"></staff-in-novel>
                  </td>
                </tr>
              </table>
            </div>

            <div class="tab-pane fade" id="release" role="tabpanel" ng-if="vm.novel.releases">
              <div class="row" ng-repeat="(releaseId, release) in vm.novel.releases">
                <div class="col-xl-2">
                  <span>{{ release.released || '?-?-?' }}</span>
                </div>
                <div class="col-xl-1">
                  <span ng-if="release.ageRating == 0">All ages</span>
                  <span ng-if="release.ageRating != 0">{{ release.ageRating }}+</span>
                </div>
                <div class="col-xl-1">
                  <span>{{ release.status }}</span>
                </div>
                <div class="col-xl-7">
                  <span ng-if="release.ageRating != 0">{{ release.title }}+</span>
                </div>
                <button type="button" aria-expanded="false"
                  data-target="#release{{releaseId}}" data-toggle="collapse">
                  &#x0002B;
                </button>
                <div class="collapse" id="release{{releaseId}}">
                  <div>
                    <span>ヴォイス: </span>
                    <span>{{ release.voiced }}</span>
                  </div>
                  <div>
                    <span>アニメション: </span>
                    <span>{{ release.animationStory }}</span>
                  </div>
                  <div>
                    <span>アニメション(18+): </span>
                    <span>{{ release.animationEro }}</span>
                  </div>
                  <div>
                    <span>プラットフォーム: </span>
                    <span>{{ release.platform }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <screenshot-in-novel ng-if="vm.novel.screenshots"
          screenshots="vm.novel.screenshots"></screenshot-in-novel>
      </div>

      <div class="sidebar col-lg-3">
        <div class="ratings-container">
          <h6>スコア</h6>
          <div ng-if="!vm.novel.ratings">
            このノベルには誰も評価しませんでした。
          </div>
          <div ng-if="vm.novel.ratings">

          </div>
        </div>
        <div class="reviews-container">
          <h6>レビュー</h6>
          <div>
            レビューが何もありません。
          </div>
          <div ng-if="vm.novel.reviews" class="reviews">
            <div ng-repeat="(reviewId, review) in vm.novel.reviews">
              <h6>{{ review.title }}</h6>
              <p id="review{{reviewId}}" class="review overflow-toggleable">{{ review.body }}</p>
              <span toggle-overflow class="see-more" target="#review{{reviewId}}"
                lines="3" font-size="1">▼もっと見る</span>
              <div>
                <div class="image-placeholder ratio_1-1 avatar">
                  <div class="avatar-thumb image-thumb" ng-style="review.user.profileImage ? { 'background-image': 'url(/assets/img/vanilla.png)' } : {}"></div>
                </div>
                <span>
                  {{ review.user.userName }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

