<div class="loading" ng-if="vm.loading"></div>

<div class="" ng-if="!vm.loading">
  <div class="item" ng-if="!vm.comments.length">
    コメントがありません。
  </div>
  
  <div class="item-rows" ng-if="vm.comments.length">
    <div class="item-row paginate-row">
      <ul class="m-0 justify-content-center" uib-pagination total-items="vm.total"
        ng-model="vm.page" max-size="1" items-per-page="vm.perPage"
        ng-change="vm.pageChange()" boundary-links="true"
        first-text="最初" last-text="最後" next-text="»" previous-text="«"
      >
      </ul>
    </div>
    
    <div class="no-ng-animate"
      ng-repeat="comment in vm.comments track by comment.id"
    >
      <div comment="comment" class="item-row item-row-hover">
      </div>
    </div>
    
    
    <div class="item-row paginate-row">
      <div class="item-row-line"></div>
      <ul class="m-0 justify-content-center" uib-pagination total-items="vm.total"
        ng-model="vm.page" max-size="1" items-per-page="vm.perPage"
        ng-change="vm.pageChange()" boundary-links="true"
        first-text="最初" last-text="最後" next-text="»" previous-text="«"
      >
      </ul>
    </div>
  </div>
</div>
