<div class="no-banner page-wrap animated fadeIn">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a ui-sref="home">メインページ</a>
      </li>
      <li class="breadcrumb-item">
        <a>データベース</a>
      </li>
      <li class="breadcrumb-item">
        <a ui-sref="person.list({ page: 1, length: null })">
          スタフ
        </a>
      </li>
      <li class="breadcrumb-item active">
        <span>{{ vm.person.name }}</span>
      </li>
    </ol>
  </div>

  <div class="page-head">
    <div class="container">
      <h3>{{ vm.person.name }}</h3>
      <h6>{{ vm.person.nameEn }}</h6>
    </div>
  </div>
  
  <div class="container page-body page-detail person-detail item-container">
    <div class="row">
      <div class="col-lg-9 body">
        <div class="has-loading">
          <div class="loading item-box" ng-if="vm.loading"></div>
            
          <div class="content" ng-if="!vm.loading">
            <div class="item-group info">
              <h6>主な情報</h6>
              <div class="item item-box">
                <div person-main-info person="vm.person"></div>
              </div>
            </div>
            
            <div class="item-group credits">
              <h6>クレジット</h6>
              <div class="item item-box">
                <person-credits 
                  class="w-100 d-block"
                  name="vm.person.name"
                  person-id="vm.person.id"
                >
                </person-credits>
              </div>
            </div>
            
            <div class="item-group chart line-chart">
              <h6>まとめの統計</h6>
              <div class="item item-box">
                <credit-stat class="w-100 d-block has-loading"
                  va-data="vm.person.voiceActressStatistics"
                  staff-data="vm.person.staffStatistics"
                >
                </credit-stat>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <aside class="col-lg-3 item-container">
        <div class="item-group">
          <h6>Thêm clg vào sidebar giờ ?!</h6>
          <div class="item item-box">
            <input type="checkbox" ng-model="vm.loading">
          </div>
          
        </div>
      </aside>
    </div>
  </div>
</div>