<div class="lazy list-banner banner"
  data-original="/assets/img/novel-list-banner.png">
  <div class="title animated rubberBand">
    <h1>全てのノベル</h1>
    <h4>All novels</h4>
  </div>
</div>

<div class="site-body container">
  <ol class="breadcrumb animated fadeInLeft">
    <li class="breadcrumb-item">
      <a ui-sref="home">メインページ</a>
    </li>
    <li class="breadcrumb-item">
      <a>データベース</a>
    </li>
    <li class="breadcrumb-item">
      <a ui-sref="novel.list({ page: 1, length: null })">全てのノベル</a>
    </li>
    <li class="breadcrumb-item active">
      <a>ページ {{ vm.page }}/{{ vm.totalPages }}</a>
    </li>
  </ol>

  <div class="novel-filter-container">
    <div class="sort">
      <span>SORT BY</span>
      <select class="custom-select" ng-model="vm.filter.sort">
        <option value="">SORT</option>
        <option value="name">名前(ローマ字)</option>
        <option value="released">発売日</option>
        <option value="score">スコア</option>
        <option value="length">長さ</option>
      </select>
    </div>
    <div class="nsfw">
      <span>HIDE NSFW</span>
      <span>
        <label class="switch-button">
          <input type="checkbox" ng-model="vm.hideNsfw">
          <div class="slider"></div>
        </label>
      </span>
    </div>
  </div>

  <div class="row list-container">
    <div class="item-wrap col-lg-3 col-md-4 col-sm-6 col-6"
      ng-repeat="novel in vm.novels">
      <div class="linear-frame">
        <div class="item">
          <div class="head-and-image-wrap">
            <div class="head">
              <span class="tag length pull-left">{{ vm.length[novel.length] }}</span>
              <span class="tag score pull-right">
                <i class="fa fa-star"></i>
                10.00
              </span>
              <div class="clearfix"></div>
            </div>
            <div class="image-wrap image-placeholder ratio-3_4">
              <div image-thumb class="image-thumb" condition="vm.hideNsfw && novel.imageNsfw" nsfw="/assets/img/image-nsfw.jpg" image="{{ novel.image }}"></div>
            </div>
            <!-- <div class="image">
              <span class="vertical-middle-helper"></span>
              <img image-preload class="img-fluid fade" ng-src="{{ novel.image }}">
            </div> -->
          </div>
          <div class="content">
            <a class="title" ui-sref="novel.detail({ id: novel.id })">{{ novel.title}}</a>
            <div class="release">発売日: {{ (novel.released && vm.formatDate(novel.released)) || '不明' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul uib-pagination total-items="vm.totalNovels" ng-model="vm.page" max-size="8"
    items-per-page="vm.perPage" ng-change="vm.pageChange()" boundary-links="true"
    rotate="true" force-ellipses="true" boundary-link-numbers="true"
    first-text="最初" last-text="最後" next-text="»" previous-text="«"
    class="pull-right">
  </ul>

  <div class="clearfix"></div>
</div>
