<div style="height: 300px;">

</div>

<div style="width: 700px; margin: auto;">
  <form ng-submit="vm.submit(vm.novel)">
    <input type="text" ng-model="vm.novel.title" required><br>
    <input type="text" ng-model="vm.novel.titleEn" required><br>
    <select ng-model="vm.novel.length" required>
      <option value="very_short">Very Short</option>
      <option value="short">Short</option>
      <option value="medium">Medium</option>
      <option value="long">Long</option>
      <option value="very_long">Very Long</option>
    </select><br>
    <input type="text" ng-model="vm.novel.image" required><br>
    <input type="checkbox" ng-model="vm.novel.imageNsfw" ng-init="vm.novel.imageNsfw = false"><br>
    <img ng-src="{{ vm.novel.image }}"><br>
    <textarea ng-model="vm.novel.description">

    </textarea><br>
    <textarea ng-model="vm.novel.descriptionEn">

    </textarea>
    <button>Submit</button>
  </form>
</div>
