<div class="no-banner"></div>
<div class="container animated fadeIn register-confirm">
  <div ng-if="!vm.complete && !vm.error">
    <h4>確認に送付中。。。</h4>
  </div>
  <div ng-if="vm.complete" class="animated fadeIn">
    <h4>確認に成功しました。</h4>
    <h6>ログインに<a ui-sref="login">こちら</a>をクリクして下さい。</h6>
  </div>
  <div ng-if="vm.error" class="animated fadeIn">
    <h4>確認に失敗しました。</h4>
    <h6 ng-repeat="(key, value) in vm.error">{{ value }}</h6>
  </div>
  <div class="lazy sending-image"
    data-original="/assets/img/sending.gif"></div>
</div>

